<!--
This is the component view that represents the 'Home' tab.
Feel free to customize layouts and components to change how the tab view looks.
-->
<GridLayout class="page page-content">
   <!-- <ActionBar title="SQL App">
        <ActionItem text="Add" ios.position="right" (tap)="insert()"></ActionItem>
        <ActionItem text="Refresh" ios.position="left" (tap)="fetch()"></ActionItem>
    </ActionBar>
    <StackLayout>

        <ListView [items]="patients">
            <ng-template let-patient="item">
                <Label text="{{ patient.firstname }} {{ patient.lastname }}"></Label>
            </ng-template>
        </ListView>
    </StackLayout>-->
    <Label class="page-icon fa" text="&#xf1ea;"></Label>
    <Label class="page-placeholder" text="<!-- Page content goes here -->"></Label>
</GridLayout>