<!--
This is the component view that represents the 'Home' tab.
Feel free to customize layouts and components to change how the tab view looks.
-->
<GridLayout class="page page-content">
    <ActionBar title="SQL App" >
        <ActionItem text="Add" ios.position="right" (tap)="insert()"></ActionItem>
        <ActionItem text="Refresh" ios.position="left" (tap)="fetch()"></ActionItem>
    </ActionBar>

    <GridLayout rows="*, auto">
        <ListView [items]="patients" row="0" rowSpan="2">
            <ng-template let-patient="item">
                <Label text="{{ patient.firstname }} {{ patient.lastname }}"></Label>
            </ng-template>
        </ListView>

        <FAB row="1" (tap)="redirectAddPatient()" icon="res://ic_plus_white" rippleColor="#f1f1f1" class="fab-button"></FAB>
    </GridLayout>
   
</GridLayout>